.board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-top: 1rem;
  margin-right: -0.5rem;
  margin-left: -0.5rem;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
  }
}
