.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transition: background-color 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anim 0.2s ease-out;

  @keyframes anim {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  width: 700px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  position: relative;
  margin: 2rem;
  animation: modalAnim 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  @keyframes modalAnim {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  .closeBtn {
    line-height: 1;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;

    svg {
      fill: #666;
      width: 1.15em;
    }

    &:hover {
      color: #777;
    }
  }
}
