*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::selection {
  background: #40739c;
  color: #fff;
}
::-moz-selection {
  background: #40739c;
  color: #fff;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #eaedf1;
  -webkit-font-smoothing: antialiased;
}
